// GENERAL
* {
  all: unset;
  font-family: feather;
  font-family: Caskaydia cove nerd font;
  margin: 0;
  padding: 0;
}
tooltip.background {
    background-color: #0f0f17;
    font-size: 18;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}

.menu{
  padding: 2px;
}
.bar {
  font-size: 1rem;
  color: white;
  padding: 2px 10px;
}

.background {
  background-color: #282828;
}



.progress {
  background-color: purple;
  color: blue;
  margin: 0;
}
// GENERAL



// DASHBOARD
.avatar{
  background-color: #343636;
  padding: 20px;
  border-radius: 20px;
}
.metric_font{
  color: white;
  font-size: 12px;
}
.sys-icon{
  font-size: 16px;
}
// DASHBOARD

// MUSIC
.music_icon {
  font-size: 30px;
  padding: 1px 5px;
}
.music_icon_hover {
  opacity: 0.6;
}

.music_image {
  margin-top: 10px;
}

.music_title_short {
  font-size: 12px;
}

.music_title {
  font-size: 15px;
}
.volumeIcon {
  font-size: 1.6rem;
}
.music {
  padding: 10px 50px;
}

.music_btn {
  background-color: transparent;
  color: white;
}

.player_icon {
  font-size: 40px;
}
// MUSIC
