*{
	all: unset;
	font-family: feather;
	font-family: Caskaydia cove nerd font;
    margin: 0;
    padding: 0;
}

.music_icon{
  font-size: 40px;
}

.bar{
  font-size: 1rem;
  color: white;
  padding: 0 20px;
}

.background{
  background-color: #282828;
}

.volumeIcon{
  font-size: 1.6rem; 
}
.music{
  color: white;
  padding: 20px;
}

.metric{
  color: white;

  .progress{
    background-color: purple;
    color: red;
    margin: 0;
  }
}

.music_btn{
  background-color: transparent;
  color: white;
  
}

